body {
  overflow-x: hidden;
  background-color: #EDEDED;
}

header {
  background: #323232;
  position: fixed;
  width: 100%;
  z-index: 1000;
}
header .logo {
  background: #FAE03C;
  color: white;
  font-size: 1.8em;
  font-weight: 600;
  width: 83% !important;
  padding: 8px 25px;
}
header .toggle-btn {
  display: none;
}
header .user {
  color: #FAE03C;
  margin: 10px;
  margin-right: 30px;
}
header .user .icon {
  font-size: 120%;
  padding: 3px 12px;
  background: white;
  border-radius: 50%;
}
header .user button {
  background: #323232;
  border: none;
}
header .user button:hover {
  background: #323232;
}
header .user button:focus {
  background: #323232 !important;
  box-shadow: none !important;
}

aside {
  position: fixed;
  background: #323232;
  width: 265px;
  height: 100%;
  padding-top: 80px;
}
aside .dropdown {
  display: none;
}
aside ul {
  padding-top: 20px;
}
aside ul .active a {
  color: #FAE03C;
  background: #1B1B1B;
}
aside ul .active a:hover {
  color: #FAE03C;
}
aside #dropdown {
  padding-top: 0 !important;
  background-color: #040505;
  display: none;
}
aside #d-icon {
  font-weight: 100;
  font-size: 80%;
}
aside li {
  border-bottom: solid 1px #3D3D3D;
}
aside li a {
  display: block;
  padding: 16px 20px;
  color: #FFFFFF;
  font-size: 90%;
  text-decoration: none;
}
aside li a:hover {
  text-decoration: none;
  color: #fff;
}
aside li a span {
  margin-right: 12px;
}

main {
  padding: 10px;
  padding-top: 80px;
  padding-left: 280px;
}
main th, main td {
  white-space: nowrap;
}
main .page-title {
  padding: 10px;
  border-bottom: solid 2px #f9d80a;
  margin-bottom: 20px;
}

.sign-in {
  padding-left: 0;
}

.summaries .summary {
  background-color: #ffff;
}
.summaries .summary .ebook {
  background-color: #1976D2;
}
.summaries .summary .reading {
  background-color: #FF5252;
}
.summaries .summary .customers {
  background-color: #F57C00;
}
.summaries .icon {
  text-align: center;
  background-color: #4CAF50;
  color: #FFFFFF;
  padding: 10px;
}
.summaries .text {
  padding: 10px;
}
.summaries .text .title {
  padding: 0;
  margin: 0;
  color: grey;
  font-weight: 400;
  text-transform: uppercase;
  font-size: 80%;
}
.summaries .text .value {
  padding: 0;
  margin: 0;
  font-size: 150%;
}

.meta .details p {
  margin: 8px;
}

.circles {
  margin-top: 50px;
}
.circles .wrapper {
  background-color: #FFFFFF;
}
.circles .wrapper svg {
  padding: 0 !important;
  margin: 0 !important;
}

@media (max-width: 576px) {
  header {
    z-index: 6000;
  }
  header .logo {
    width: 100% !important;
  }

  body, html {
    overflow-x: hidden;
  }

  aside {
    display: none;
    z-index: 5000;
  }

  main {
    padding-left: 2px;
  }

  .sm-hide {
    display: none;
  }

  .toggle-btn {
    padding-top: 13px;
    display: block !important;
    margin-right: 10px !important;
  }

  .user {
    color: #FAE03C;
    margin: 10px;
    margin-right: 0 !important;
  }
  .user .icon {
    font-size: 120%;
    padding: 3px 12px;
    background: white;
    border-radius: 50%;
  }
}
