body {
  overflow-x: hidden;
  background-color: #EDEDED;
}

header {
  background: #323232;
}
header .logo {
  background: #FAE03C;
  color: white;
  font-size: 1.8em;
  font-weight: 600;
  width: 83% !important;
  padding: 8px 25px;
}

aside {
  position: fixed;
  background: #323232;
  width: 265px;
  height: 100%;
}
aside .dropdown {
  display: none;
}
aside ul {
  padding-top: 20px;
}
aside ul .active a {
  color: #FAE03C;
  background: #1B1B1B;
}
aside ul .active a:hover {
  color: #FAE03C;
}
aside li {
  border-bottom: solid 1px #3D3D3D;
}
aside li a {
  display: block;
  padding: 16px 20px;
  color: #FFFFFF;
  font-size: 90%;
  text-decoration: none;
}
aside li a:hover {
  text-decoration: none;
  color: #fff;
}
aside li a span {
  margin-right: 12px;
}

main {
  padding: 10px;
  padding-top: 1px;
  padding-left: 280px;
}
main .page-title {
  padding: 10px;
  border-bottom: solid 2px #f9d80a;
  margin-bottom: 20px;
}

.summaries .summary {
  background-color: #ffff;
}
.summaries .summary .ebook {
  background-color: #1976D2;
}
.summaries .summary .reading {
  background-color: #FF5252;
}
.summaries .summary .customers {
  background-color: #F57C00;
}
.summaries .icon {
  text-align: center;
  background-color: #4CAF50;
  color: #FFFFFF;
  padding: 10px;
}
.summaries .text {
  padding: 10px;
}
.summaries .text .title {
  padding: 0;
  margin: 0;
  color: green;
  font-weight: 400;
  text-transform: uppercase;
  font-size: 10px !important;
}
.summaries .text .value {
  padding: 0;
  margin: 0;
}
