@charset "UTF-8";
body, html {
  overflow-x: hidden;
  background: #f0f0f5;
}

header {
  background-color: #FFC107;
  position: fixed;
  width: 100%;
  z-index: 5000;
  border-bottom: solid white 1px;
}
header a {
  color: #ffffff !important;
}
header .badge {
  font-size: 40%;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  padding: 3px !important;
  margin: 0 !important;
  background-color: #876500;
  position: absolute;
  top: 3px;
  right: 0;
}
header .icon {
  position: relative;
  font-size: 190%;
  color: white;
  padding: 10px;
  transition: .7s;
  cursor: pointer;
}
header .icon:hover {
  background-color: #ba8b00 !important;
}
header .dropdown-toggle {
  margin-top: 0 !important;
  font-size: 100%;
  padding: 0 !important;
}
header .dropdown-toggle:after {
  font-size: 80% !important;
  margin: 0 !important;
  color: #fff;
}
header .dropdown-toggle:hover {
  background-color: #ba8b00 !important;
}
header .btn:focus {
  box-shadow: none !important;
}
header .dropdown {
  margin: 0 !important;
  padding: 0 !important;
}
header .dropdown .bg-primary {
  background-color: #ffc107 !important;
}
header .dropdown .bg-primary a {
  color: #ffffff !important;
}
header .dropdown .bg-primary a:hover {
  background-color: #d39e00 !important;
}
header .logo {
  margin: 10px;
  color: white;
  font-size: 150%;
}
header .search-box {
  background-color: #f2f2f2;
  text-align: center;
  display: none;
}
header .search-box input {
  width: 80%;
  padding: 5px 20px;
  margin: 8px 0;
  background: #f2f2f2;
  border: solid #cccccc 1px;
  font-size: 100% !important;
}
header .search-box input:focus {
  outline: none;
}
header .search-box button {
  padding: 5px 9px;
  background: #FFC107;
  outline: none;
  border: solid #cccccc 1px;
  margin: 0;
  margin-left: -5px;
  color: #fff;
  cursor: pointer;
}
header .nav-links {
  background-color: #f2f2f2;
  padding: 20px 5px;
  display: none;
}
header .nav-links .links .col-12 {
  text-align: center !important;
}
header .nav-links .links a {
  font-size: 120%;
  color: #666666 !important;
  font-weight: 600;
  text-transform: uppercase;
  text-space: 1;
  text-decoration: none;
}
header .nav-links .links a:hover {
  transition: .3s;
  border-bottom: solid 1px;
  color: #FFC107 !important;
}
header .nav-links .categories a {
  font-size: 100%;
  color: #757575 !important;
  background: #FFECB3;
  padding: 8px 10px;
  display: block;
  border-radius: 8%;
}
header .nav-links .categories .cat {
  padding: 8px;
  text-space: 1;
  float: left;
}

.slide-wrapper {
  height: 100vh;
  overflow: hidden;
  position: relative;
}
.slide-wrapper .overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.8);
  z-index: 200;
  padding-top: 50px;
}
.slide-wrapper .overlay .btn-primary {
  background-color: #FFC107;
  border: none;
  outline: none;
  border-radius: 0%;
}
.slide-wrapper .swiper-container {
  width: 100%;
  height: 100%;
}
.slide-wrapper .swiper-wrapper {
  padding-top: 70px !important;
}

.section-title {
  background: #FFC107;
  padding: 8px;
  color: white;
}
.section-title h4 {
  font-size: 110% !important;
  margin: 0;
}

.book-cover {
  margin-top: 10px;
}

.books {
  background: #ffffff;
}
.books .panel {
  border: solid  #c2c2d6 1px;
}
.books .panel .row {
  padding: 8px;
}

.book {
  position: relative;
  box-shadow: 0 0 5px grey;
  ttransition: 8s;
}
.book .panel-front .b-title {
  font-size: 90%;
}
.book .panel-front .meta {
  padding: 8px;
}
.book .panel-front .price {
  color: #FFC107;
}
.book .panel-overlay {
  transition: 8s;
  position: absolute;
  top: 0;
  background: rgba(0, 0, 0, 0.9);
  height: 100%;
  width: 100%;
  color: #fff;
  padding: 5px;
  font-size: 90%;
  display: none;
}
.book .panel-overlay .b-title {
  font-size: 110%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.book:hover .panel-overlay {
  display: block;
}

main {
  padding-top: 60px;
  height: 100%;
  position: relative;
  padding-right: 8px;
}

main .container {
  background: white;
  height: 100%;
  padding-bottom: 10px !important;
}
main .book-wrapper {
  padding-top: 20px;
}
main .book-wrapper .option .price {
  color: #666699;
  margin: 5px;
}
main .book-wrapper .option h6 {
  background: #FFC107;
  color: #ffffff;
  padding: 5px;
}
main .book-wrapper .description {
  padding: 10px 25px;
  margin-top: 30px;
  background: #f2f2f2;
}

.book-list .title {
  padding-top: 20px;
  margin-bottom: 10px;
  border-bottom: solid #FFC107 2px;
  padding-left: 50px;
}

.ection-title {
  padding: 10px;
}

.categories .list-group {
  width: 100% !important;
  background: #f2f2f2;
  border: solid #FFC107 1px;
}
.categories .list-group .list-group-item {
  padding: 5px 10px !important;
  background: #f2f2f2 !important;
}

.p-wrapper {
  position: relative;
  min-height: 100px;
}
.p-wrapper .prog {
  position: absolute;
  z-index: 1;
  width: 100%;
}
.p-wrapper .prog li {
  float: left;
  width: 25%;
  position: relative;
  text-align: center;
}
.p-wrapper .prog li:before {
  font-family: FontAwesome;
  width: 50px;
  height: 50px;
  border: 2px solid #bebebe;
  display: block;
  margin: 0 auto 10px auto;
  border-radius: 50%;
  line-height: 50px;
  background: white;
  color: #bebebe;
  text-align: center;
  font-weight: bold;
}
.p-wrapper .prog li::after {
  content: '';
  position: absolute;
  width: 100%;
  height: 3px;
  background: #979797;
  top: 22px;
  left: -50%;
  z-index: -1;
}
.p-wrapper .prog li:first-child:after {
  content: none;
}
.p-wrapper .prog .cart:before {
  content: "\f07a";
}
.p-wrapper .prog .ship:before {
  content: "";
}
.p-wrapper .prog .pay:before {
  content: "\f1f1";
}
.p-wrapper .prog .complete:before {
  content: "\f00c";
}
.p-wrapper .prog .active {
  color: #FFC107;
  font-weight: bold;
}
.p-wrapper .prog .active:after {
  background-color: #FFC107;
}
.p-wrapper .prog .active:before {
  color: #FFC107;
  border-color: #FFC107;
}
.p-wrapper ul {
  list-style: none;
  padding: 0;
  margin: 0;
  clear: both;
}

.books-sidebar {
  background-color: #e0e0eb;
  padding: 20px 8px;
  height: 100%;
}
.books-sidebar aside a {
  padding: 8px 0;
  display: block;
  color: #28283e;
  font-size: 105%;
  text-decoration: none;
}
.books-sidebar aside li {
  border-bottom: solid #c1c1d7 1px;
}

.read-online {
  position: relative;
  padding: 0 !important;
  width: 75vw !important;
}
.read-online .reader {
  position: relative;
  box-shadow: 0 0 5px white;
}
.read-online .reader .header {
  background-color: #ffdb6d;
  position: absolute;
  width: 100%;
  z-index: 600;
  border-bottom: solid white 1px;
  padding: 2px 0;
}
.read-online .reader .header .book-title {
  text-align: center;
  font-size: 1.3em;
}
.read-online .reader .header .actions {
  text-align: center;
  width: 100%;
}
.read-online .reader .header .actions .btn-toolbar {
  display: inline-block;
  min-width: 100px !important;
}
.read-online .reader .header .actions .pages {
  padding: 0;
  margin: 0;
}
.read-online .reader .body {
  min-height: 100vh;
  padding-top: 80px;
}
.read-online .reader .body .viewer-wrapper {
  position: relative;
  width: 100%;
  min-height: 100vh;
}
.read-online .reader .body .viewer-wrapper .overlay {
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.1);
  z-index: 500;
}
.read-online .reader .body .viewer-wrapper #loader {
  border: 8px solid #f3f3f3;
  border-top: 8px solid #FFC107;
  border-radius: 50%;
  width: 130px;
  height: 130px;
  margin: auto;
  position: absolute;
  top: 20%;
  left: 40%;
  animation: spin 2s linear infinite;
}

form .parsley-errors-list {
  list-style: none;
  padding: 0;
  margin: 0;
}
form .parsley-type, form .parsley-equalto, form .parsley-required {
  color: #ff4d4d;
  padding: 5px;
  margin: 3px;
  font-size: 90%;
}
form .parsley-error {
  border-color: #ff4d4d;
}
form .parsley-error:focus {
  border-color: #ff4d4d;
  box-shadow: 0 0 4px #ff4d4d;
}
form .parsley-success {
  border-color: #00b300;
}
form .parsley-success:focus {
  border-color: #00b300;
  box-shadow: 0 0 4px #00b300;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
footer {
  clear: both;
  background: #15151e;
  padding: 50px 0;
  color: #c2c2d6;
}

@media (max-width: 576px) {
  .slides {
    display: none;
  }

  .book {
    margin: 25px;
  }
  .book .panel-front .b-title {
    font-size: 150%;
  }
  .book .panel-front .meta {
    padding: 15px;
  }
  .book .panel-front .price {
    color: #FFC107;
    font-size: 200%;
  }
  .book:hover .panel-overlay {
    display: none;
  }

  .books-home {
    padding-top: 60px;
  }
  .books-home .book {
    margin: 20px 12px !important;
  }
}
