$theme-color: #FAE03C;
$dark_bg:#323232;
body{
  overflow-x: hidden;
  background-color: #EDEDED;
}
header{
  background: $dark_bg;
  position: fixed;
  width: 100%;
  z-index: 1000;
  .logo{
    background: $theme-color;
    color: white;
    font-size: 1.8em;
    font-weight: 600;
    width: 83% !important;
    padding:8px 25px ;
  }
  .toggle-btn{
    display: none;
  }
  
  .user{
    color: $theme-color;
    margin: 10px;
    margin-right: 30px;
    .icon{
      font-size: 120%;
      padding: 3px 12px;
      background: lighten($theme-color,50);
      border-radius: 50%;
    }

    button{
      background: $dark_bg;
      border: none;
      &:hover{
        background: $dark_bg;
      }
      &:focus{
        background: $dark_bg !important;
        box-shadow: none !important;
      }
    }
  }
  
  
}

aside{
  position: fixed;
  background: $dark_bg;
  width: 265px;
  height: 100%;
  padding-top: 80px;
  .dropdown{
    display: none;
  }
  ul{
    padding-top: 20px;

    .active a{
      color: $theme-color;
      background: #1B1B1B;
      &:hover{
        color: $theme-color;
      }
    }
  }
  #dropdown{
    padding-top: 0 !important;
    background-color: #040505;
    display: none;
  }

  #d-icon{
    font-weight: 100;
    font-size: 80%;
  }
  li {
      border-bottom:solid 1px #3D3D3D;

    a {
      display: block;
      padding: 16px 20px;
      color: #FFFFFF;
      font-size: 90%;
      text-decoration: none;
      &:hover{
        text-decoration: none;
        color: #fff;
      }
      span{
        margin-right: 12px;
      }
    }
  }

}


main{

  padding: 10px;
  padding-top: 80px;
  padding-left: 280px;

  th,td {
    white-space: nowrap;
  }

  .page-title{
    padding: 10px;
    border-bottom: solid 2px darken($theme-color,10);
    margin-bottom: 20px;
  }
}

.sign-in{
  padding-left: 0;
}

.summaries{

  .summary{
    background-color: #ffff;

    .ebook{
      background-color: #1976D2;
    }

    .reading{
      background-color: #FF5252;
    }

    .customers{
      background-color: #F57C00;
    }

  }

  .icon{
    text-align: center;
    background-color: #4CAF50;
    color: #FFFFFF;
    padding: 10px;
  }

  .text{
    padding: 10px;

    .title{
      padding: 0;
      margin: 0;
      color: grey;
      font-weight: 400;
      text-transform: uppercase;
      font-size: 80%;
    }
    .value{
      padding: 0;
      margin: 0;
      font-size: 150%;
    }
  }
}


.meta{

  .details{
    p{
      margin: 8px ;
    }
  }
}

.circles{
  margin-top: 50px;
  .wrapper{
    background-color: #FFFFFF;
    svg{
      padding: 0 !important;
      margin: 0 !important;
    }
  }
}



@media (max-width: 576px) {

  header{
    .logo{
      width: 100% !important;
    }
    z-index: 6000;
  }
  body,html{
    overflow-x: hidden;
  }
  aside{
    display: none;
    z-index: 5000;
  }

  main{
    padding-left: 2px;
  }

  .sm-hide{
    display: none;
  }

  .toggle-btn{
    padding-top: 13px;
    display: block !important;
    margin-right: 10px !important;
  }

  .user{
    color: $theme-color;
    margin: 10px;
    margin-right:0 !important ;
    .icon{
      font-size: 120%;
      padding: 3px 12px;
      background: lighten($theme-color,50);
      border-radius: 50%;
    }}


}