$theme-color:#FFC107;
$bg-color: #f2f2f2;

body,html{
  overflow-x: hidden;
  background:  #f0f0f5;
}
header{
  background-color: $theme-color;
  position: fixed;
  width: 100%;
  z-index: 5000;
  border-bottom: solid white 1px;

  a {
    color: #ffffff !important;
  }

.badge{
  font-size: 40%;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  padding: 3px !important;
  margin: 0 !important ;
  background-color: darken($theme-color,25);
  position: absolute;
  top: 3px;
  right:0;
}
  .icon{
    position: relative;
    //margin-top: 10px;
    font-size: 190%;
    color: white;
    padding: 10px;
    transition: .7s;
    cursor: pointer;
    &:hover{
      background-color: darken($theme-color,15) !important;
    }
  }
  .dropdown-toggle{
    margin-top: 0 !important;
    font-size: 100%;
    padding: 0 !important;

    &:after{
      font-size: 80% !important;
      margin: 0 !important;
      color: #fff;
    }
    &:hover{
      background-color: darken($theme-color,15) !important;
    }
  }
  .btn:focus{
    box-shadow: none !important;
  }

  .dropdown{
    margin: 0 !important;
    padding: 0 !important;

    .bg-primary{
      background-color: darken($theme-color,0) !important;
      a{
        color: #ffffff !important;

        &:hover{
          background-color: darken($theme-color,10) !important;
        }
      }
    }
  }

  .logo{
    margin: 10px;
    color: white;
    font-size: 150%;
  }

  .search-box{
    background-color:  $bg-color;
    text-align: center;
    display: none;
    input{
      width: 80%;
      padding: 5px 20px;
      margin: 8px 0;
      background: $bg-color;
      border: solid #cccccc 1px;
      font-size: 100% !important;
      &:focus{

        outline: none;
      }

    }

    button{
      padding:5px 9px;
      background: $theme-color;
      outline: none;
      border: solid #cccccc 1px;
      margin: 0;
      margin-left:-5px;
      color: #fff;
      cursor: pointer;
    }


  }

  .nav-links {
    background-color: #f2f2f2;
    padding: 20px 5px;
    display: none;

    .links{
      .col-12{
        text-align: center !important;
      }

      a{
        font-size: 120%;
        color: #666666 !important;
        font-weight: 600;
        text-transform: uppercase;
        text-space: 1;
        text-decoration: none;

        &:hover{
          transition: .3s;
          border-bottom: solid 1px;
          color: $theme-color !important;
        }
      }
    }

    .categories{
      a{
        font-size: 100%;
        color: #757575 !important;
        background:#FFECB3;
        padding: 8px 10px;
        display:block;
        border-radius: 8%;
      }



      .cat{
        padding: 8px;
        text-space: 1;
        float: left;
      }
    }
  }
}

.slide-wrapper{
  height: 100vh;
  overflow: hidden;
  position: relative;

  .overlay{
    position: absolute;
    width: 100%;
    height: 100%;
    background:rgba(0,0,0,.8);
    z-index: 200;
    padding-top: 50px;
    .btn-primary{
      background-color: $theme-color;
      border: none;
      outline: none;
      border-radius: 0%;

    }
  }

  .swiper-container {
    width: 100%;
    height: 100%;
  }

  .swiper-wrapper{
    padding-top: 70px !important;
  }
}
.section-title{
  background: $theme-color;
  padding: 8px;
  color: white;
  h4{
    font-size: 110% !important;
    margin: 0;
  }

}
.book-cover{
  margin-top: 10px;
}

.books{
  background: #ffffff;

  .panel{
    border:solid  #c2c2d6 1px;
   .row{
     padding: 8px;
   }

  }
}

.book{
  position: relative;
  box-shadow: 0 0 5px grey;
  ttransition:  8s;
  .panel-front{
    .b-title{
      font-size: 90%;
    }

    .meta{
      padding: 8px;
    }
    .price{
      color: $theme-color;
    }

  }
  .panel-overlay{
    transition:  8s;
    position: absolute;
    top: 0;
    background:rgba(0,0,0,.9);
    height: 100%;
    width: 100%;
    color: #fff;
    padding: 5px;
    font-size: 90%;
    display: none;

    .b-title{
      font-size: 110%;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }

  }
  &:hover .panel-overlay{

    display: block;


  }
}
main{
  padding-top: 60px;
  height: 100%;
  position: relative;
  padding-right:8px ;
}

main{

  .container{
    background: white;
    height: 100%;
    padding-bottom: 10px !important;
  }
  .book-wrapper{
    padding-top: 20px;

    .option{
      .price{
        color: #666699;
        margin: 5px;
      }
      h6{
        background: $theme-color;
        color: #ffffff;
        padding: 5px;
      }
    }

    .description{
      padding: 10px 25px;
      margin-top: 30px;
      background: $bg-color;
    }
  }
}

.book-list{
  .title{
    padding-top: 20px;
    margin-bottom: 10px;
    border-bottom: solid $theme-color 2px;
    padding-left: 50px;

  }
}


.ection-title{
  padding: 10px;
}

.categories{
  .list-group{
    width: 100% !important;
    background: $bg-color;
    border: solid $theme-color 1px;

    .list-group-item{
      padding: 5px 10px !important;
      background: $bg-color !important;
    }
  }

}

.p-wrapper{
  position: relative;
  min-height: 100px;
  .prog{
    position: absolute;
    z-index: 1;
    width: 100%;
    li{
      float: left;
      width: 25%;
      position: relative;
      text-align: center;

      &:before{
        font-family: FontAwesome;
        width: 50px;
        height: 50px;
        border: 2px solid #bebebe;
        display: block;
        margin: 0 auto 10px auto;
        border-radius: 50%;
        line-height: 50px;
        background: white;
        color: #bebebe;
        text-align: center;
        font-weight: bold;
      }
      &::after{
        content: '';
        position: absolute;
        width:100%;
        height: 3px;
        background: #979797;
        top: 22px;
        left: -50%;
        z-index: -1;
      }
      &:first-child:after{
        content: none;

      }

    }
    .cart:before{
      content: "\f07a";
    }
    .ship:before{
      content:"\f0d1" ;
    }
    .pay:before{
      content: "\f1f1";
    }
    .complete:before{
        content: "\f00c";
      }
    .active{
      color: $theme-color;
      font-weight: bold;
      &:after{
        background-color: $theme-color;
      }
      &:before{
        color: $theme-color;
        border-color: $theme-color;
      }
    }


  }
  ul{
    list-style: none;
    padding: 0;
    margin: 0;
    clear: both;

  }
}
.books-sidebar{
  background-color: #e0e0eb;
  padding: 20px 8px;
  height: 100%;

  aside a{
    padding: 8px 0;
    display: block;
    color: #28283e;
    font-size:105%;
    text-decoration: none;

  }
  aside li{
    border-bottom: solid #c1c1d7 1px;
  }
}

.read-online {
  position: relative;
  padding: 0 !important;
  width: 75vw !important;

  .reader {
    position: relative;
    box-shadow: 0 0 5px lighten($theme-color,50);
    .header {
      background-color:lighten($theme-color,20);
      position: absolute;
      width: 100%;
      z-index: 600;
      border-bottom: solid white 1px;
      padding: 2px 0;

      .book-title{
        text-align: center;
        font-size: 1.3em;
      }

      .actions {
        text-align: center;
        width: 100%;
        .btn-toolbar {
          display: inline-block;
          min-width: 100px !important;
        }
        .pages {
            padding: 0;
          margin: 0;
        }
      }
    }
    .body {
      min-height: 100vh;
      padding-top: 80px;

      .viewer-wrapper {
        position: relative;
        width: 100%;
        min-height: 100vh;

        .overlay {
          position: absolute;
          height: 100%;
          width: 100%;
          background-color: rgba(255, 255, 255, .1);
          z-index: 500;
        }

        #viewer {
        }

        #loader {
          border: 8px solid #f3f3f3;
          border-top: 8px solid $theme-color;
          border-radius: 50%;
          width: 130px;
          height: 130px;
          margin: auto;
          position: absolute;
          top: 20%;
          left: 40%;
          animation: spin 2s linear infinite;
        }
      }

    }
  }
}

form{
  .parsley-errors-list {
    list-style: none;
    padding: 0;
    margin: 0;
  }

  .parsley-type, .parsley-equalto, .parsley-required{
  color: #ff4d4d;
    padding: 5px;
    margin: 3px;
    font-size: 90%;
  }

  .parsley-error{
    border-color: #ff4d4d ;

    &:focus{
      border-color: #ff4d4d;
      box-shadow: 0 0 4px #ff4d4d;
    }
  }
  .parsley-success{
    border-color: #00b300;

    &:focus{
      border-color: #00b300;
      box-shadow: 0 0 4px #00b300;
    }
  }
}





@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}


footer{
  clear: both;
  background: #15151e;
  padding: 50px 0;
  color: #c2c2d6;
}


@media (max-width: 576px) {

  .slides{
    display: none;
  }


  .book{
    margin: 25px;
    .panel-front{
      .b-title{
        font-size: 150%;
      }

      .meta{
        padding: 15px;
      }
      .price{
        color: $theme-color;
        font-size: 200%;

      }

    }
    &:hover .panel-overlay{
      display: none;

    }
  }

  .books-home{
    padding-top: 60px;
    .book{
      margin: 20px 12px !important;
    }
  }
}





